{% extends './layout.html' %}

{% block content %}
    <div class="p-14 h-full w-full space-y-10">
        <h1 class="font-bold text-2xl text-gray-500">Documents</h1>
        <p class="text-lg text-gray-600">
            This section allows users to view and manage the chapters of the capstone document. Each chapter card provides a brief description of its content. Users can click on the PDF icon to view the corresponding chapter in PDF format or use the download icon to download the chapter as a PDF file for offline access.
        </p>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-10 w-full">
            <div class="h-full bg-white rounded-lg border p-3 flex flex-col gap-y-2">
                <div class="flex justify-end gap-x-2">
                    <a href="{{ url_for('static', filename='docs/chap1.pdf') }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M360-460h40v-80h40q17 0 28.5-11.5T480-580v-40q0-17-11.5-28.5T440-660h-80v200Zm40-120v-40h40v40h-40Zm120 120h80q17 0 28.5-11.5T640-500v-120q0-17-11.5-28.5T600-660h-80v200Zm40-40v-120h40v120h-40Zm120 40h40v-80h40v-40h-40v-40h40v-40h-80v200ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z"/></svg></a>
                    <a href="{{ url_for('static', filename='docs/chap1.pdf') }}" download><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg></a>
                </div>
                <h1 class="font-bold text-xl tracking-wide">Chapter 1</h1>
                <p class="text-justify text-gray-500">
                    Chapter 1 of a capstone document introduces the study, outlining its background, the problem it addresses, and its objectives. It highlights the study’s significance, its scope, and any limitations. Key terms are defined for clarity, providing a foundation for the entire project.
                </p>
                <div class="flex justify-end gap-x-1">
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                </div>
            </div>
            <div class="h-full bg-white rounded-lg border p-3 flex flex-col gap-y-2">
                <div class="flex justify-end gap-x-2">
                    <a href="{{ url_for('static', filename='docs/chap2.pdf') }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M360-460h40v-80h40q17 0 28.5-11.5T480-580v-40q0-17-11.5-28.5T440-660h-80v200Zm40-120v-40h40v40h-40Zm120 120h80q17 0 28.5-11.5T640-500v-120q0-17-11.5-28.5T600-660h-80v200Zm40-40v-120h40v120h-40Zm120 40h40v-80h40v-40h-40v-40h40v-40h-80v200ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z"/></svg></a>
                    <a href="{{ url_for('static', filename='docs/chap2.pdf') }}" download><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg></a>
                </div>
                <h1 class="font-bold text-xl tracking-wide">Chapter 2</h1>
                <p class="text-justify text-gray-500">
                    Chapter 2 of a capstone document typically focuses on the review of related literature and studies. It explores existing research, theories, and frameworks relevant to the project, providing context and a deeper understanding of the topic.
                <div class="flex justify-end gap-x-1 mt-auto">
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                </div>
            </div>
            <div class="h-full bg-white rounded-lg border p-3 flex flex-col gap-y-2">
                <div class="flex justify-end gap-x-2">
                    <a href="{{ url_for('static', filename='docs/chap3.pdf') }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M360-460h40v-80h40q17 0 28.5-11.5T480-580v-40q0-17-11.5-28.5T440-660h-80v200Zm40-120v-40h40v40h-40Zm120 120h80q17 0 28.5-11.5T640-500v-120q0-17-11.5-28.5T600-660h-80v200Zm40-40v-120h40v120h-40Zm120 40h40v-80h40v-40h-40v-40h40v-40h-80v200ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z"/></svg></a>
                    <a href="{{ url_for('static', filename='docs/chap3.pdf') }}" download><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg></a>
                </div>
                <h1 class="font-bold text-xl tracking-wide">Chapter 3</h1>
                <p class="text-justify text-gray-500">
                    Chapter 3 of a capstone document details the research methodology used in the study. It explains the research design, methods, and procedures employed to gather and analyze data. 
                <div class="flex justify-end gap-x-1 mt-auto">
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                </div>
            </div>
            <div class="h-full bg-white rounded-lg border p-3 flex flex-col gap-y-2">
                <div class="flex justify-end gap-x-2">
                    <a href="{{ url_for('static', filename='docs/chap1.pdf') }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M360-460h40v-80h40q17 0 28.5-11.5T480-580v-40q0-17-11.5-28.5T440-660h-80v200Zm40-120v-40h40v40h-40Zm120 120h80q17 0 28.5-11.5T640-500v-120q0-17-11.5-28.5T600-660h-80v200Zm40-40v-120h40v120h-40Zm120 40h40v-80h40v-40h-40v-40h40v-40h-80v200ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z"/></svg></a>
                    <a href="{{ url_for('static', filename='docs/chap1.pdf') }}" download><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg></a>
                </div>
                <h1 class="font-bold text-xl tracking-wide">Chapter 4</h1>
                <p class="text-justify text-gray-500">
                    Chapter 4 of a capstone document presents the results and findings of the study. This chapter includes a detailed analysis of the data collected, often accompanied by tables, charts, or graphs to illustrate key points.
                <div class="flex justify-end gap-x-1 mt-auto">
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 border border-green-500 rounded-full">

                    </div>
                </div>
            </div>
            <div class="h-full bg-white rounded-lg border p-3 flex flex-col gap-y-2">
                <div class="flex justify-end gap-x-2">
                    <a href="{{ url_for('static', filename='docs/chap1.pdf') }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M360-460h40v-80h40q17 0 28.5-11.5T480-580v-40q0-17-11.5-28.5T440-660h-80v200Zm40-120v-40h40v40h-40Zm120 120h80q17 0 28.5-11.5T640-500v-120q0-17-11.5-28.5T600-660h-80v200Zm40-40v-120h40v120h-40Zm120 40h40v-80h40v-40h-40v-40h40v-40h-80v200ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z"/></svg></a>
                    <a href="{{ url_for('static', filename='docs/chap1.pdf') }}" download><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg></a>
                </div>
                <h1 class="font-bold text-xl tracking-wide">Chapter 5</h1>
                <p class="text-justify text-gray-500">
                    Chapter 5 of a capstone document concludes the study by summarizing the key findings, drawing conclusions, and providing recommendations. This chapter revisits the research objectives and discusses how they were addressed.
                <div class="flex justify-end gap-x-1 mt-auto">
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                    <div class="h-7 w-2 bg-green-500 border border-transparent rounded-full">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}x 