{% extends './layout.html' %}

{% block content %}
    <div class="p-14 h-full w-full flex flex-col items-center justify-center gap-y-5">
        <h1 class="text-4xl font-semibold tracking-wide text-gray-800 uppercase">Welcome to germsbusters central hub</h1>
        <p class="text-center text-xl text-gray-500 w-1/2">
            The Germsbusters Central Hub is a unified platform designed to streamline and centralize all resources related to our capstone project. This comprehensive system serves as a repository for all essential assets, ensuring accessibility and organization in one place.
        </p>
    </div>
{% endblock %}x 